<template>
    <vue-tel-input
        class="form-control"
        name="phone1"
    ></vue-tel-input>
    <vue-tel-input
        class="form-control"
        name="phone2"
        mode="international"
    ></vue-tel-input>
</template>
<script>
    import { VueTelInput } from 'vue-tel-input'

    export default {
        components: {
            VueTelInput,
        },
    };
</script>
