html,
body {
    height: 100%;
    margin: 0;
}
.wrap {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    border-top: 1px solid #CC0000;
    color: #5A5D60;
    background-color: #272A2D;
    padding-top: 20px;

}

.footer .footer-bottom {
    height: 40px;
    background-color: #f5f5f5;
    padding-top: 10px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.wrap > .container {
    padding: 50px 0px 0px;
    width: 100%;
}

.container > .breadcrumb {
    margin-top: 20px;
}

.padding-top {
   padding-top: 20px;
}

.padding-bottom {
   padding-bottom: 20px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.color-white {
    color: #ffffff;
}

.backgound-red {
    background-color: #CC0000;
}

.backgound-crema {
    background-color: #EEEEEE;
}

.button-big {
    font-size: 21px;
    padding: 14px 24px;
    border-radius: 15px;
    margin: 10px;
}

.fraud-list-view .row {
    margin: 0px;
    display: flex;
}

.fraud-list-view .row div {
    border: 1px solid #dddddd;
    padding: 8px;
    line-height: 1.42857143;
}

.fraud-list-view .header div {
    vertical-align: bottom;
    font-weight: 700;
}

.fraud-list-view .list-view .row div {
    vertical-align: top;
}

.fraud-list-view .fraud-view {
    padding: 0px;
}

.authorize {
    font-size: medium;
}

.authorize b {
    font-size: large;
}

#vk_like {
	width: 144px !important;
}
.grecaptcha-badge {
    visibility: visible !important;
}
#demo {
    width: 400px;
    margin: auto;
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

#demo > p {
    margin-top: 20px
}
